*{ margin: 0px; padding: 0px; }
body { padding-top: 119px; color: #666; font-family: opensansreg; font-size: 14px; color: #667d86; background-color: #fff; }
a { outline: none; color: #063c51; text-decoration: none; }
p { line-height: 30px; font-size: 14px; color: #666; word-wrap: break-word; }
img  { max-width: 100%; height: auto; }
iframe { width: 100%; border: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}

@font-face {
	font-family: "opensansreg";
    src: url('../fonts/opensansreg.eot');
    src: url('../fonts/opensansreg.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensansreg.woff') format('woff'),
         url('../fonts/opensansreg.ttf') format('truetype'),
         url('../fonts/opensansreg.svg#opensansreg') format('svg');
}

@font-face {
	font-family: "opensanssemibd";
    src: url('../fonts/opensanssemibd.eot');
    src: url('../fonts/opensanssemibd.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensanssemibd.woff') format('woff'),
         url('../fonts/opensanssemibd.ttf') format('truetype'),
         url('../fonts/opensanssemibd.svg#opensanssemibd') format('svg');
}

@font-face {
	font-family: "opensansbd";
    src: url('../fonts/opensansbd.eot');
    src: url('../fonts/opensansbd.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensansbd.woff') format('woff'),
         url('../fonts/opensansbd.ttf') format('truetype'),
         url('../fonts/opensansbd.svg#opensansbd') format('svg');
}

@font-face {
	font-family: "opensansli";
    src: url('../fonts/opensansli.eot');
    src: url('../fonts/opensansli.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensansli.woff') format('woff'),
         url('../fonts/opensansli.ttf') format('truetype'),
         url('../fonts/opensansli.svg#opensansli') format('svg');
}

@font-face {
	font-family: "opensansextrabd";
    src: url('../fonts/opensansextrabd.eot');
    src: url('../fonts/opensansextrabd.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensansextrabd.woff') format('woff'),
         url('../fonts/opensansextrabd.ttf') format('truetype'),
         url('../fonts/opensansextrabd.svg#opensansextrabd') format('svg');
}

ul { list-style: none; }
.sprite { background-image: url(../images/sprite.png); background-repeat: no-repeat; background-color: transparent; }

/* ### global classes ### */
.clear { clear: both; height: 0px; overflow: hidden }
.floatL { float: left; }
.floatR { float: right; }
.fntweghtNml { font-weight: normal; }
.txttTransformNorml { text-transform: none; }
.linHnml { line-height: normal; }
.lineH18px { line-height: 18px; }
.lineH20px { line-height: 20px; }
.lineH26px { line-height: 26px; }
.lineH30px { line-height: 30px; }
.greyBg { background-color: #d9dfe4; }

.font-opensansreg { font-family: opensansreg; }
.font-opensansbd { font-family: opensansbd; }
.font-opensansli { font-family: opensansli; }
.font-opensanssemibd { font-family: opensanssemibd; }
.font-opensansextrabd { font-family: opensansextrabd; }
.font-rupee { font-family: rupee; }
.font-georgia { font-family: Georgia; }
.fnt-size11 { font-size: 11px; }
.fnt-size10 { font-size: 10px; }
.fnt-size12 { font-size: 12px; }
.fnt-size13 { font-size: 13px; }
.fnt-size14 { font-size: 14px!important; }
.fnt-size16 { font-size: 16px; }
.fnt-size18 { font-size: 18px!important; }
.fnt-size20 { font-size: 20px; }
.fnt-size22 { font-size: 22px; }
.fnt-size26 { font-size: 26px; }
.fnt-size30 { font-size: 30px; }
.fnt-size36 { font-size: 36px; }
.fnt-size48 { font-size: 48px; }
.fnt-size60 { font-size: 60px; line-height: 60px; }

.rempaddingR { padding-right: 0px!important; }
.rempaddingT { padding-top: 0px!important; }
.rempaddingB { padding-bottom: 0px!important; }
.rempaddingL { padding-left: 0px!important; }
.remmarginR { margin-right: 0px!important; }
.remmarginT { margin-top: 0px!important; }
.remmarginB { margin-bottom: 0px!important; }
.remmarginL { margin-left: 0px!important; }
.padding25px { padding: 25px; }
.padding30px { padding: 30px; }
.padding5px { padding: 5px; }
.padding10px { padding: 10px; }
.padding15px { padding: 15px; }
.padding5px { padding: 5px; }
.padding20px { padding: 20px; }
.padding40px { padding: 40px!important; }
.addmarginB20 { margin-bottom: 20px!important; }
.addmarginB30 { margin-bottom: 30px!important; }
.addmarginB10 { margin-bottom: 10px!important; }
.addmarginB5 { margin-bottom: 5px!important; }
.addpaddingB20 { padding-bottom: 20px!important; }
.addpaddingB10 { padding-bottom: 10px!important; }
.addpaddingB30 { padding-bottom: 30px!important; }
.addpaddingB5 { padding-bottom: 5px; }
.addmarginT5 { margin-top: 5px;}
.addmarginR10 { margin-right: 10px;}
.addpaddingTB5 { padding: 5px 0px; }
.addpaddingTB10 { padding: 10px 0px; }
.addpaddingTB15 { padding: 15px 0px; }
.addpaddingLF10 { padding: 0px 10px; }
.addpaddingTB20 { padding: 20px 0px; }
.addpaddingTB30 { padding: 30px 0px; }
.inline-block { display: inline-block; }
.valign { vertical-align: middle; }
.alignC { text-align: center; }
.alignL { text-align: left; }
.alignR { text-align: right; }
.relative { position: relative; }
.txt000 { color: #000; }
.txt333 { color: #333; }
.txt999 { color: #999; }
.txtfff { color: #fff; }
.txt707{ color: #707070;}
.txtblue { color: #406078; }
.txtorange { color: #fba927; }
.txtpurple { color: #a261ed; }
.txtpink { color: #fd497c; }
.txtred { color: #d0312e; }
.txtucase{ text-transform: uppercase;}
section { padding: 100px 0; text-align: center; }
section hgroup p { margin-bottom: 30px; font-size: 22px; font-family: opensansreg; }
section.bg { background-color: #f0f3f5; }
section h1 { margin-top: 0; margin-bottom: 40px; font-size: 45px; }
section h1:after { margin: auto; margin-top: 20px; display: block; height: 5px; width: 70px; content: ''; background-color: #d0312e; }
.sepLine { margin: 20px auto; display: block; width: 110px; height: 1px; background-color: #fba927; }

header { z-index: 100; position: fixed; top: 0; left: 0; width: 100%; box-shadow: 0 0 3px rgba(0, 0, 0, .3); background-color: #fff; }
header .top { padding: 15px 0; }
header .logo { margin-top: 3px; }
header form { margin: auto; margin-top: 18px; max-width: 360px; position: relative; width: 100%; }
header input[type="text"] { padding-bottom: 5px; padding-right: 30px; width: 100%; border: none; border-bottom: 1px solid #c5c5c5; color: #000; }
header .searchBtn { position: absolute; top: 0; right: 0; width: 17px; height: 17px; border: none; background-position: top left; }
header .login-signup { margin-top: 18px; }
header .login-signup a { padding: 4px 10px; color: #d0312e; width: 80px; border: 1px solid #d0312e; text-align: center; float: right; display: block; transition: all .5s ease-in-out; }
header .login-signup a:first-child { color: #fff; background-color: #d0312e; }
header .login-signup a:hover { color: #fff; text-decoration: none; border-color: #000; background-color: #000; }
header nav { background-color: #406078; }
header nav ul { margin: 0; text-align: center; }
header nav li {  float: left; position: relative; }
header nav li a { padding: 0 35px; overflow: hidden; position: relative; display: block; transition: all .3s ease-in-out; line-height: 35px; position: relative; color: #fffefe; font-size: 14px; }
header nav li a:after { bottom: -5px; left: 50%; border: 10px solid transparent; content: " "; position: absolute; pointer-events: none; transition: all .3s ease-in-out; border-color: rgba(194, 225, 245, 0); border-bottom-color: #cfcfcf; border-width: 5px; margin-left: -5px; }
header nav li a:hover, header nav li a.active, header nav li:hover a { color: #cfcfcf; text-decoration: none; }
header nav li a:hover:after, header nav li a.active:after, header nav li:hover a:after { bottom: 0; }
header nav li ul { opacity: 0; overflow: hidden; height: 0; box-shadow: 0 0 5px rgba(0,0,0,.2); position: absolute; text-align: left; border-top: 5px solid #cfcfcf; top: 35px; left: 0; width: 220px; background-color: #fff; }
header nav li:hover ul { opacity: 1; height: auto; transition: all .5s ease-in-out; }
header nav li ul li { float: none; border-bottom: 1px solid #dcdcdc; }
header nav li ul li a { padding: 5px 15px; }
header nav li:hover ul li a { color: #666; }
header nav li:hover ul li a:after { display: none; }
header nav li ul li a:hover { color: #000; background-color: #f1f1f1; }

#bannerCntr { text-align: center; }
#bannerCntr .overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(../images/banner-overlayBg.png) repeat; }
#bannerCntr h1 { margin-top: 12%; width: 100%; color: #fff; font-family: opensansbd; font-size: 52px; }
#bannerCntr h3 { margin-top: 18%; color: #fff; width: 100%; font-size: 26px; }
#bannerCntr .left { margin-top: 24%; width: 49%; text-align: right; }
#bannerCntr .left p { text-align: right; }
#bannerCntr p { padding-right: 5px; margin: 0; color: #fff; line-height: 20px; display: inline-block; vertical-align: middle; }
#bannerCntr p span { font-family: opensansbd; display: block; }
#bannerCntr a { vertical-align: middle; display: inline-block; border: 1px solid #fff; text-align: center; color: #fff; border-radius: 5px; font-size: 24px; line-height: 50px; width: 275px; height: 50px; }
#bannerCntr a em { margin-right: 10px; display: inline-block; width: 26px; height: 26px; vertical-align: middle; background-position: -20px top; }
#bannerCntr .right { margin-top: 24%; right: 16%!important; left: auto!important; }
#bannerCntr .right p { padding-right: 0; padding-left: 5px; text-align: left; }
#bannerCntr .right a { color: #d0312e; background-color: #fff; }
#bannerCntr .right a em { width: 25px; height: 25px; background-position: -50px top; }

.howitworksBox li { text-align: left; }
.howitworksBox li span { float: left; color: #fff; font-size: 34px; width: 60px; height: 60px; display: block; line-height: 60px; text-align: center; background-color: #d0312e; }
.howitworksBox li .text { margin-left: 80px; }
.howitworksBox li p { margin-bottom: 0; line-height: 28px; font-size: 18px; }

.servicesBox {  background: url(../images/servicesboxBg.png) top center no-repeat #282828; background-size: cover; }
.servicesBox h1 { color: #fff; }
.servicesBox p { font-size: 18px; line-height: 34px; color: #e7e7e7; }

.clientsBox .quote { display: block; width: 73px; height: 106px; text-indent: -9999px; position: absolute; }
.clientsBox .quote.left { top: 0; left: 0; background-position: left -31px; }
.clientsBox .quote.right { right: 0; bottom: 0; background-position: left -141px; }
.clientsBox .testimonials { min-height: 300px; }
.clientsBox p  { font-size: 16px; line-height: 32px; }
.clientsBox p span  { font-family: opensansbd; color: #000; font-size: 16px; }
.clientsBox .carousel { position: static; }
.clientsBox .carousel-indicators { margin: 0; position: absolute; left: 0; bottom: 0; width: 100%; text-align: center; }
.clientsBox .carousel-indicators li { margin: 0 5px; border: 1px solid #d0312e; }
.clientsBox .carousel-indicators li.active { background-color: #d0312e; }
.clientsBox .carousel-inner { margin: auto; max-width: 820px; }

.calcKnowBox { }
.calcKnowBox p { margin: auto; margin-bottom: 20px; max-width: 300px; color: #5b5b5b; font-size: 22px; line-height: 28px; }
.calcKnowBox a i { font-size: 20px; }

.securedBox ul { display: table; text-align: center; width: 100%; }
.securedBox li { position: relative; display: table-cell; min-width: 25%; text-align: center; vertical-align: top; }
.securedBox .circle { position: relative; margin: auto; margin-bottom: 20px; display: table; width: 175px; height: 175px; border-radius: 50%; vertical-align: middle; text-align: center; color: #fff; font-size: 36px; background-color: #b03532; }
.securedBox .circle span { display: table-cell; line-height: 40px; vertical-align: middle; }
.securedBox p { font-size: 18px; color: #4c4c4c; }
.securedBox li:before { position: absolute; top: 87px; width: 100%; height: 1px; content: ''; left: 0; background-color: #b03532; }

footer { padding: 50px 0 20px; background-color: #eee; }
footer h4 { margin-top: 0; margin-bottom: 15px; font-size: 16px; font-weight: bold; color: #666; }
footer h4:after { margin-top: 10px; display: block; height: 2px; width: 40px; content: ''; background-color: #666; }
footer li { margin-bottom: 13px; line-height: normal; }
footer li a { color: #666; }
footer .connect { text-align: center; }
footer .connect h4:after { margin: auto; margin-top: 10px; }
footer .connect a { margin: 10px 5px; font-size: 30px; display: inline-block; width: 61px; height: 61px; line-height: 61px; text-align: center; border: 2px solid transparent; border-radius: 50%; }
footer .connect a i { }
footer .connect a.fb { color: #344c8a; border-color: #344c8a; }
footer .connect a.twitter { color: #469ae9; border-color: #469ae9; }
footer .connect a.linkedin { color: #1583bb; border-color: #1583bb; }
footer .connect a.mail { color: #406078; border-color: #406078; }
footer .bot { padding-top: 15px; text-align: center; border-top: 1px solid #cbcbcb; }
footer .bot p { font-size: 12px; line-height: normal; }

@media (min-width: 980px) and (max-width: 1199px) {
   
}

@media (min-width: 768px) and (max-width: 979px) {
	header .login-signup a { width: 75px; }
	header .login-signup, header form { margin-top: 8px; }
	header nav li a { padding: 0 25px; }
	section, .gomobileBox, .mobileappBox { padding: 50px 0; }
	#bannerCntr h1 { font-size: 40px; }
	#bannerCntr .right { right: 6%!important; }
	.howitworksBox h2 { font-size: 24px; }
	.howitworksBox li p { font-size: 16px; line-height: 24px; }
	section h1 { font-size: 33px; }
	.securedBox .circle { font-size: 26px; width: 135px; height: 135px; }
	.securedBox .circle span { line-height: 30px; }
	.securedBox li::before { top: 67px; }
	#bannerCntr a { width: 225px; font-size: 14px; }
	footer h4 { font-size: 12px; }
	footer .connect a { width: 35px; height: 35px; line-height: 30px; font-size: 16px; margin: 5px; }
    
}

@media (max-width: 767px) {
    body { padding: 0; }
    header { padding: 15px 0; position: relative; }
	header .login-signup { float: right; }
	header .search { margin: 0; float: left; }
	header .top { padding: 0; }
	header .search { width: 290px; }
	header form { max-width: inherit; }
	#bannerCntr h1 { font-size: 20px; }
	#bannerCntr h3, #bannerCntr .left, #bannerCntr .right { display: none!important; }
	#bannerCntr .right { right: 6%!important; }
    section { padding: 20px 0; }
	section h1 { margin-bottom: 20px; font-size: 28px; line-height: normal;  }
	section p, .servicesBox p, .clientsBox p { font-size: 14px; line-height: 28px; }
	.howitworksBox li { margin-bottom: 20px; }
	.securedBox li { margin-bottom: 20px; width: 50%; float: left; }
	.securedBox li:before { top: 52px; }
	.securedBox .circle { width: 105px; height: 105px; font-size: 20px; }
	.securedBox .circle span { line-height: 24px; }
	.clientsBox .carousel-indicators { bottom: -10px; }
	.calcKnowBox .col-md-6 + .col-md-6 { margin-top: 30px; }
    footer { padding: 20px 0; }
}

@media (max-width: 480px) {
	section h1::after { margin-bottom: 0; }
	header .login-signup { position: absolute; top: 0; right: 0; }
	header .logo { width: 160px; }
	header .login-signup a { padding: 5px 12px; width: auto; font-size: 11px; }
	header .search { width: 100%; }
	header .top { padding: 0; }
	.howitworksBox h2 { font-size: 24px; }
	.howitworksBox li p { font-size: 16px; line-height: 24px; }
	footer ul { margin-bottom: 20px; }
}
	